# Server Configuration
NODE_ENV=development
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=FocusFlow
DB_USER=root
DB_PASSWORD=focuspass@123

# Session Configuration
SESSION_SECRET=7a7182a3f07dbe348726df566160dc7b297327b13715e2250a510ff50eba5fff

# Application Configuration
# Add your application-specific environment variables here
