<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | FocusFlow</title>
    <link rel="stylesheet" href="/vendor/toastify.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/vendor/toastify.min.js"></script>
    <script defer src="/vendor/lucide.js"></script>
    <script defer src="/js/formValidator.js"></script>
    <script defer src="/js/notificationCenter.js"></script>
    <script defer src="/js/main.js"></script>
  </head>
</html>
