<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | FocusFlow</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css"
    integrity="sha256-ksp2LemDSdmkVuTxga2DDBl0bGe2g6VdkMxozGw66bk="
    crossorigin="anonymous"
  >
  <link rel="stylesheet" href="/css/style.css">
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0"
    integrity="sha256-5QSc0n3aurxqblG192+NvWjme59jzM/IftkpervHFLI="
    crossorigin="anonymous"
  ></script>
</head>
